<div class="flex justify-center mt-32">
  <div role="tablist" class="tabs w-6/12 flex justify-center">
    <label for="all_categories" class="tab tab-lg">All Categories</label>
    <input
      type="radio"
      id="all_categories"
      name="tabs"
      class="tab hidden"
      checked
    />

    <label for="personal_categories" class="tab tab-lg">Personal</label>
    <input
      type="radio"
      id="personal_categories"
      name="tabs"
      class="tab hidden"
    />

    <label for="shared_categories" class="tab tab-lg">Shared</label>
    <input type="radio" id="shared_categories" name="tabs" class="tab hidden" />
  </div>
</div>
