<div class="flex justify-center items-center w-full overflow-x-auto">
  <hlm-tabs-list class="tabs w-6/12 flex justify-around">
    <button hlmTabsTrigger="all_categories" class="text-center justify-center tab tab-lg w-1/3">
      All Categories
    </button>
    <button hlmTabsTrigger="personal_categories" class="text-center justify-center tab tab-lg w-1/3">
      Personal
    </button>
    <button hlmTabsTrigger="shared_categories" class="text-center justify-center tab tab-lg w-1/3">
      Shared
    </button>
  </hlm-tabs-list>
</div>