<div class="flex justify-center my-4">  
  <div role = "tablist" class="tabs">
    <label for="all_categories" class="tab tab-lg mx-2">All Categories</label>
    <input type="radio" id="all_categories" name="tabs" class="tab hidden" checked />
    <div role="tabpanel" class="tab-content p-10">
      <app-category-list></app-category-list>
    </div>

    <label for="personal_categories" class="tab tab-lg mx-2">Personal</label>
    <input type="radio" id="personal_categories" name="tabs" class="tab hidden" />
    <div role="tabpanel" class="tab-content p-10">
      <app-category-list></app-category-list>
    </div>

    <label for="shared_categories" class="tab tab-lg mx-2">Shared</label>
    <input type="radio" id="shared_categories" name="tabs" class="tab hidden" />
    <div role="tabpanel" class="tab-content p-10">
      <app-category-list></app-category-list>
    </div>
  </div>
</div>
