<div
  class="flex justify-center items-center w-full overflow-x-auto overflow-y-auto"
>
  <hlm-tabs-list class="tabs w-full z-0 lg:w-6/12 flex justify-around">
    <button
      hlmTabsTrigger="future"
      class="text-center justify-center tab tab-lg w-6/12 px-1 md:px-4"
    >
      Future Payments
    </button>
    <button
      hlmTabsTrigger="recurrent"
      class="text-center justify-center tab tab-lg w-6/12 px-1 md:px-4"
    >
      Recurrent Payments
    </button>
  </hlm-tabs-list>
</div>
