<div
  class="flex justify-center align-middle w-full h-full"
  *ngIf="isLoading; else BudgetsList"
>
  <hlm-spinner class="justify-center align-middle"></hlm-spinner>
</div>

<ng-template #BudgetsList>
  <div class="flex flex-col h-full md:grid lg:grid-cols-3 lg:gap-4 w-full">
    <div class="lg:col-span-2 flex flex-col h-full w-full overflow-auto">
      <div class="flex flex-col justify-between gap-4 sm:flex-row">
        <input
          hlmInput
          class="w-full md:w-80"
          placeholder="Filter budgets..."
          [ngModel]="_budgetsFilter()"
          (ngModelChange)="_rawFilterInput.set($event)"
        />
        <button
          hlmBtn
          brnDialogTrigger
          [disabled]="!availableCategories.length"
          [brnDialogTriggerFor]="newDialog"
          class="justify-center rounded-sm text-white hover:text-gray-400"
        >
          New
        </button>
      </div>

      <brn-table
        hlm
        class="w-full border-border h-[335px] mt-4 flex-grow overflow-auto"
        [dataSource]="_filteredSortedPaginatedBudgets()"
        [displayedColumns]="_allDisplayedColumns()"
        [trackBy]="_trackBy"
      >
        <brn-column-def
          name="category"
          class="w-3/12 sm:w-2/12 md:w-1/12 lg:w-2/12 xl:w-1/12 justify-center"
        >
          <hlm-th *brnHeaderDef class="text-center">Category</hlm-th>
          <hlm-td *brnCellDef="let element" class="justify-center text-center">
            <div
              class="w-full h-full flex justify-center text-center align-middle"
            >
              <hlm-icon class="ml-2" size="lg" [name]="element.category.icon" />
            </div>
          </hlm-td>
        </brn-column-def>

        <brn-column-def
          name="resetDate"
          class="w-2/12 hidden md:flex lg:hidden xl:flex justify-center text-center"
        >
          <hlm-th *brnHeaderDef truncate>
            <button
              hlmBtn
              class="p-0"
              size="sm"
              variant="ghost"
              (click)="handleDateSortChange()"
            >
              Date
              <hlm-icon class="ml-3" size="sm" name="lucideArrowUpDown" />
            </button>
          </hlm-th>
          <hlm-td *brnCellDef="let element">
            {{ element.resetDate | date }}
          </hlm-td>
        </brn-column-def>

        <brn-column-def
          name="progress"
          class="w-5/12 justify-start text-start"
        >
          <hlm-th *brnHeaderDef>Spent</hlm-th>
          <hlm-td
            class="text-start justify-start font-medium tabular-nums h-full px-4"
            *brnCellDef="let element"
          >
            <div
              class="relative flex text-start justify-start w-full h-full overflow-visible group"
            >
              <brn-progress
                hlmProgressIndicator
                aria-labelledby="loading"
                class="w-full bg-base-200 h-6 flex justify-start text-start"
                [value]="100"
              >
                <div
                  class="bg-primary h-6 rounded-full text-white text-xs flex items-start justify-start"
                  [ngStyle]="{
                    width:
                      ((element.userSpentAmount + element.partnerSpentAmount) /
                        element.amountAvailable) *
                        100 +
                      '%'
                  }"
                ></div>
              </brn-progress>
              <div
                class="absolute h-full justify-start inset-0 bg-gray-100 text-center text-gray-700 rounded-badge p-0 opacity-0 group-hover:opacity-100 transition-opacity w-full sm:w-auto sm:max-w-sm text-xs whitespace-normal"
              >
                Personal Spent:
                {{ element.userSpentAmount || 0 | number : "1.2-2" }}
                {{ element.currency }}, Partner Spent:
                {{ element.partnerSpentAmount || 0 | number : "1.2-2" }}
                {{ element.currency }}, Remaining:
                {{
                  element.amountAvailable -
                    element.userSpentAmount -
                    element.partnerSpentAmount | number : "1.2-2"
                }}
                {{ element.currency }}
              </div>
            </div>
          </hlm-td>
        </brn-column-def>

        <brn-column-def
          name="amountAvailable"
          class="w-3/12 sm:w-2/12 justify-start text-start"
        >
          <hlm-th *brnHeaderDef truncate>Available</hlm-th>
          <hlm-td
            class="text-start font-medium tabular-nums"
            *brnCellDef="let element"
          >
            {{ element.amountAvailable | number : "1.2-2" }}
            {{ element.currency }}
          </hlm-td>
        </brn-column-def>

        <brn-column-def
          name="isShared"
          class="max-sm:hidden sm:w-2/12 md:w-1/12 lg:w-2/12 xl:w-1/12 justify-center"
        >
          <hlm-th *brnHeaderDef>Shared</hlm-th>
          <hlm-td class="text-center" *brnCellDef="let element">
            <div
              class="w-full h-full flex justify-center text-center align-middle"
            >
              <hlm-icon
                class="ml-2"
                size="lg"
                [name]="
                  element.category.isShared ? 'lucideUsers' : 'lucideUser'
                "
              />
            </div>
          </hlm-td>
        </brn-column-def>

        <brn-column-def name="actions" class="w-1/12 justify-center">
          <hlm-th *brnHeaderDef></hlm-th>
          <hlm-td *brnCellDef="let element">
            <button
              hlmBtn
              variant="ghost"
              class="h-6 w-6 p-0.5"
              align="end"
              [brnMenuTriggerFor]="menu"
            >
              <hlm-icon class="h-4 w-4" name="lucideMoreHorizontal" />
            </button>

            <ng-template #menu>
              <hlm-menu>
                <hlm-menu-label>Actions</hlm-menu-label>
                <hlm-menu-separator />
                <hlm-menu-group>
                  <button
                    brnDialogTrigger
                    [brnDialogTriggerFor]="editDialog"
                    (click)="selectBudget(element)"
                  >
                    Edit
                  </button>
                </hlm-menu-group>
                <hlm-menu-separator />
                <hlm-menu-group>
                  <hlm-menu-group>
                    <button
                      brnDialogTrigger
                      [brnDialogTriggerFor]="deleteDialog"
                      (click)="selectBudget(element)"
                    >
                      Delete
                    </button>
                  </hlm-menu-group>
                </hlm-menu-group>
              </hlm-menu>
            </ng-template>
          </hlm-td>
        </brn-column-def>

        <div
          class="text-muted-foreground flex items-center justify-center p-20"
          brnNoDataRow
        >
          No data
        </div>
      </brn-table>

      <div
        class="mt-4 flex flex-col justify-between sm:flex-row sm:items-center"
        *brnPaginator="
          let ctx;
          totalElements: _totalElements();
          pageSize: _pageSize();
          onStateChange: _onStateChange
        "
      >
        <div class="mt-2 flex sm:mt-0">
          <brn-select
            class="inline-flex"
            placeholder="{{ _availablePageSizes[0] }}"
            [(ngModel)]="_pageSize"
          >
            <hlm-select-trigger class="w-15 mr-1 inline-flex h-9">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              @for (size of _availablePageSizes; track size) {
              <hlm-option [value]="size">
                {{ size === 10000 ? "All" : size }}
              </hlm-option>
              }
            </hlm-select-content>
          </brn-select>

          <div class="flex space-x-1">
            <button
              size="sm"
              variant="outline"
              hlmBtn
              [disabled]="!ctx.decrementable()"
              (click)="ctx.decrement()"
            >
              Previous
            </button>
            <button
              size="sm"
              variant="outline"
              hlmBtn
              [disabled]="!ctx.incrementable()"
              (click)="ctx.increment()"
            >
              Next
            </button>
          </div>
        </div>
      </div>

      <div class="w-full border-border mt-4 overflow-auto">
        <canvas
          class="w-full min-h-72 overflow-auto"
          baseChart
          [type]="barChartType"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [options]="barChartOptions"
        ></canvas>
      </div>
    </div>

    <div class="hidden lg:flex flex-col justify-between gap-4 md:col-span-1">
      <div class="w-full h-6/12">
        <canvas
          baseChart
          [type]="pieChartType"
          [datasets]="pieChartData"
          [labels]="pieChartLabels"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend"
          [options]="pieChartOptions"
        ></canvas>
      </div>
    </div>
  </div>
</ng-template>

<hlm-dialog #newDialog>
  <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>New Budget</h3>
      <p hlmDialogDescription>Add the details for the new budget.</p>
    </hlm-dialog-header>

    <div class="py-4 grid gap-4">
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="category" class="text-right">Category</label>
        <brn-select
          id="currency"
          [(ngModel)]="newBudget.category"
          class="col-span-3"
        >
          <hlm-select-trigger class="w-full">
            <span class="flex align-middle">
              <hlm-icon
                class="mr-2"
                size="sm"
                [name]="newBudget.category.icon"
              />
              {{ newBudget.category.name }}
            </span>
          </hlm-select-trigger>
          <hlm-select-content>
            @for (category of availableCategories; track category) {
            <hlm-option [value]="category">
              <span class="flex align-middle">
                <hlm-icon class="mr-2" size="sm" [name]="category.icon" />
                {{ category.name }}
              </span>
            </hlm-option>
            }
          </hlm-select-content>
        </brn-select>
      </div>

      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="postingDate" class="text-right">Start Date</label>
        <input
          type="date"
          hlmInput
          id="postingDate"
          [(ngModel)]="newBudget.startDate"
          class="col-span-3"
        />
      </div>

      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="amount" class="text-right">Available Amount</label>
        <input
          type="number"
          hlmInput
          #amountAvailable="ngModel"
          required
          [ngClass]="{
            'border-error-500':
              (!newBudget.amountAvailable || newBudget.amountAvailable <= 0) &&
              amountAvailable.touched
          }"
          id="amount"
          [(ngModel)]="newBudget.amountAvailable"
          class="col-span-3"
        />
      </div>

      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="currency" class="text-right">Currency</label>
        <brn-select
          id="currency"
          [(ngModel)]="newBudget.currency"
          class="col-span-3"
        >
          <hlm-select-trigger class="w-full">
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content>
            <hlm-option *ngFor="let currency of currencies" [value]="currency">
              {{ currency }}
            </hlm-option>
          </hlm-select-content>
        </brn-select>
      </div>
    </div>

    <span *ngIf="budgetError" class="label-text text-error">{{
      budgetError
    }}</span>

    <hlm-dialog-footer>
      <button hlmBtn variant="ghost" (click)="ctx.close(); budgetError = null">
        Cancel
      </button>
      <button
        [disabled]="
          !newBudget.category ||
          !newBudget.startDate ||
          !newBudget.amountAvailable ||
          !newBudget.currency ||
          newBudget.amountAvailable <= 0 ||
          !amountAvailable.valid
        "
        hlmBtn
        class="text-white hover:text-gray-400"
        (click)="addBudget(ctx)"
      >
        Save
      </button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>

<hlm-dialog #editDialog>
  <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>Edit Budget</h3>
      <p hlmDialogDescription>
        Modify the Budget details and click save to apply changes.
      </p>
    </hlm-dialog-header>

    <div class="items-center grid grid-cols-4 gap-4">
      <label hlmLabel for="startDate" class="text-right">Start Date</label>
      <input
        type="date"
        hlmInput
        id="startDate"
        [(ngModel)]="selectedBudget.startDate"
        class="col-span-3"
      />
    </div>

    <div class="items-center grid grid-cols-4 gap-4">
      <label hlmLabel for="amount" class="text-right">Amount</label>
      <input
        type="number"
        hlmInput
        required
        #amountAvailable="ngModel"
        [ngClass]="{
          'border-error-500':
            (!selectedBudget.amountAvailable ||
              selectedBudget.amountAvailable <= 0) &&
            amountAvailable.touched
        }"
        id="amount"
        [(ngModel)]="selectedBudget.amountAvailable"
        class="col-span-3"
      />
    </div>

    <div class="items-center grid grid-cols-4 gap-4">
      <label hlmLabel for="currency" class="text-right">Currency</label>
      <brn-select
        id="currency"
        [(ngModel)]="selectedBudget.currency"
        class="col-span-3"
      >
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content>
          <hlm-option *ngFor="let currency of currencies" [value]="currency">
            {{ currency }}
          </hlm-option>
        </hlm-select-content>
      </brn-select>
    </div>

    <span *ngIf="budgetError" class="label-text text-error">{{
      budgetError
    }}</span>

    <hlm-dialog-footer>
      <button hlmBtn variant="ghost" (click)="ctx.close(); budgetError = null">
        Cancel
      </button>
      <button
        [disabled]="
          !selectedBudget.startDate ||
          !selectedBudget.amountAvailable ||
          !selectedBudget.currency ||
          selectedBudget.amountAvailable <= 0 ||
          !amountAvailable.valid
        "
        hlmBtn
        class="text-white hover:text-gray-400"
        (click)="saveBudget(ctx)"
      >
        Save changes
      </button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>

<hlm-dialog #deleteDialog>
  <hlm-dialog-content *brnAlertDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmAlertDialogTitle>Are you absolutely sure?</h3>
      <p hlmAlertDialogDescription>
        This action cannot be undone. This will permanently delete your budget.
      </p>
    </hlm-dialog-header>
    <hlm-dialog-footer>
      <button hlmBtn variant="ghost" (click)="ctx.close()">Cancel</button>
      <button
        hlmBtn
        variant="destructive"
        (click)="deleteBudget(); ctx.close()"
      >
        Delete budget
      </button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>
