<div class="w-full overflow-x-auto">
  <hlm-table class="w-full min-w-[400px] text-sm text-left text-gray-500 dark:text-gray-400">
    <hlm-caption>Cash Accounts</hlm-caption>
    <hlm-th class="text-xs p-0 text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <hlm-trow class="w-full">
        <hlm-th class="px-6 py-3 text-center w-1/12 justify-center">Icon</hlm-th>
        <hlm-th class="px-6 py-3 text-start w-7/12 justify-start">Name</hlm-th>
        <hlm-th class="px-6 py-3 text-center w-2/12 justify-center">Balance</hlm-th>
        <hlm-th class="px-6 py-3 text-center w-2/12 justify-center">Menu</hlm-th>
      </hlm-trow>
    </hlm-th>

    <app-cash-account *ngFor="let cashAccount of cashAccounts" [cashAccount]="cashAccount"></app-cash-account>

    <hlm-trow class=" text-center w-full bg-muted/50 hover:bg-muted">
      <hlm-td colspan="4" class="font-semibold">Total Balance</hlm-td>
      <hlm-td class="justify-end">2,500.00 RON</hlm-td>
    </hlm-trow>
  </hlm-table>
</div>