<div hlmTabsContent="all_categories" class="w-full overflow-x-auto mt-10">
  <section hlmCard class="border-hidden">
    <div class="flex flex-col justify-between gap-4 sm:flex-row">
      <input hlmInput class="w-full md:w-80" placeholder="Filter categories.." [ngModel]="_allCategoriesFilter()"
        (ngModelChange)="_rawFilterInput.set($event)" />
      <button hlmBtn brnDialogTrigger [brnDialogTriggerFor]="newDialog"
        class="justify-center rounded-sm text-white hover:text-gray-400">
        New
      </button>
    </div>

    <brn-table hlm stickyHeader class="w-full border-border mt-10 block h-8/12 overflow-auto"
      [dataSource]="_filteredSortedPaginatedCategories()" [displayedColumns]="_allDisplayedColumns()"
      [trackBy]="_trackBy">
      <brn-column-def name="icon" class="w-3/12 justify-center text-center">
        <hlm-th *brnHeaderDef class="justify-center text-center">Icon</hlm-th>
        <hlm-td *brnCellDef="let element" class="justify-center text-center">
          <div class="w-full h-full flex justify-center text-center">
            <svg class="justify-center text-center" viewBox="0 0 90 112.5" width="40px" h="40px"
              xmlns="http://www.w3.org/2000/svg">
              <g
                transform="matrix(1.0162279605865479, 0, 0, 1.0278929471969604, -1.2657499313354492, -0.5505840182304382)">
                <g>
                  <circle cx="57" cy="48" r="2.001" />
                  <path
                    d="M73.026,40H72v-9.498C72,27.606,69.587,25,66.691,25H61v-0.009c0-2.896-2.231-5.252-5.127-5.252L18.238,25.25    C15.377,25.292,13,27.632,13,30.502v34.016C13,67.413,15.606,70,18.502,70h0.073h1.568h46.548C69.587,70,72,67.413,72,64.518V56    h1.026C75.921,56,78,53.708,78,50.812v-5.494C78,42.423,75.921,40,73.026,40z M55.941,21.489C57.703,21.526,59,23.22,59,24.991V25    H30.555L55.941,21.489z M70,64.748C70,66.544,68.544,68,66.748,68H18.252C16.456,68,15,66.544,15,64.748V30.252    C15,28.456,16.456,27,18.252,27h48.496C68.544,27,70,28.456,70,30.252V40H55.53C52.634,40,50,42.423,50,45.319v5.494    C50,53.708,52.634,56,55.53,56H70V64.748z M76,50.748C76,52.544,74.544,54,72.748,54H55.252C53.456,54,52,52.544,52,50.748v-5.496    C52,43.456,53.456,42,55.252,42h17.496C74.544,42,76,43.456,76,45.252V50.748z" />
                </g>
              </g>
            </svg>
          </div>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="name" class="w-6/12 justify-start text-start">
        <hlm-th *brnHeaderDef truncate>
          <button hlmBtn class="p-0" size="sm" variant="ghost" (click)="handleNameSortChange()">
            Category Name
            <hlm-icon class="ml-2" size="sm" name="lucideArrowUpDown" />
          </button>
        </hlm-th>

        <hlm-td *brnCellDef="let element" class="flex items-center gap-2">
          <ng-container *ngIf="element.isEditing; else viewMode">
            <input hlmInput [(ngModel)]="element.name" class="flex-1 w-full" name="categoryName"
              (keyup.enter)="saveCategoryName(element)" />
            <button hlmBtn class="text-end ml-auto p-1 hover:text-gray-600" variant="ghost"
              (click)="saveCategoryName(element)">Save</button>
          </ng-container>

          <ng-template #viewMode>
            {{ element.name }}
            <button class="text-end ml-auto p-1 hover:text-gray-600" hlmBtn variant="ghost"
              (click)="toggleEditName(element)">Edit</button>
          </ng-template>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="isShared" class="w-2/12 justify-center">
        <hlm-th *brnHeaderDef>Is Shared</hlm-th>
        <hlm-td class="text-start font-medium tabular-nums" *brnCellDef="let element">
          {{ element.isShared }}
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="actions" class="w-1/12 justify-center">
        <hlm-th *brnHeaderDef></hlm-th>
        <hlm-td *brnCellDef="let element">
          <button hlmBtn variant="ghost" class="h-6 w-6 p-0.5" align="end" [brnMenuTriggerFor]="menu">
            <hlm-icon class="h-4 w-4" name="lucideMoreHorizontal" />
          </button>

          <ng-template #menu>
            <hlm-menu>
              <hlm-menu-label>Actions</hlm-menu-label>
              <hlm-menu-separator />
              <hlm-menu-group>
                <button hlmMenuItem brnDialogTrigger [brnDialogTriggerFor]="shareDialog" (click)="selectCategory(element)">
                  {{ element.isShared ? 'Unshare' : 'Share' }}
                </button>
              </hlm-menu-group>
              <hlm-menu-separator />
              <hlm-menu-group>
                <hlm-menu-group>
                  <button hlmMenuItem brnDialogTrigger [brnDialogTriggerFor]="deleteDialog"
                    (click)="selectCategory(element)">Delete</button>
                </hlm-menu-group> </hlm-menu-group>
            </hlm-menu>
          </ng-template>
        </hlm-td>
      </brn-column-def>

      <div class="text-muted-foreground flex items-center justify-center p-20" brnNoDataRow>
        No data
      </div>
    </brn-table>


  </section>
</div>

<div hlmTabsContent="shared_categories" class="w-full overflow-x-auto mt-10">
  <section hlmCard class="border-hidden">

    <div *ngIf="!_hasSharedCategories()" class="flex justify-center items-center h-96">
      <button hlmBtn brnDialogTrigger [brnDialogTriggerFor]="partnershipDialog" class="text-white rounded-lg px-4 py-2">
        Initiate Partnership
      </button>
    </div>

    <hlm-dialog #partnershipDialog>
      <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 hlmDialogTitle>Initiate Partnership</h3>
          <p hlmDialogDescription>Enter the partner's email and select categories to share.</p>
        </hlm-dialog-header>

        <div class="pt-4 pb-2">
          <label hlmLabel for="partnerEmail">Partner's Email</label>
          <input hlmInput id="partnerEmail" [(ngModel)]="partnerEmail" placeholder="Enter email" email required
            [ngModelOptions]="{ standalone: true }" />
        </div>

        <div class="pt-2 pb-4">
          <label hlmLabel>Select Categories to Share</label>
          <div class="grid grid-cols-1 gap-2">
            <ng-container *ngFor="let category of _Categories()">
              <label>
                <input type="checkbox" class="checkbox" [(ngModel)]="category.isSelected" /> {{ category.name }}
              </label>
            </ng-container>
          </div>
        </div>

        <hlm-dialog-footer>
          <button hlmBtn variant="ghost" (click)="ctx.close()">Cancel</button>
          <button hlmBtn (click)="createPartnership(); ctx.close()" class="text-white hover:text-gray-400"
            [disabled]="!partnerEmail || !emailIsValid()">
            Create Partnership
          </button>
        </hlm-dialog-footer>
      </hlm-dialog-content>
    </hlm-dialog>

    <div *ngIf="_hasSharedCategories()">
      <div class="flex flex-col justify-between gap-4 sm:flex-row">
        <input hlmInput class="w-full md:w-80" placeholder="Filter categories..." [ngModel]="_allCategoriesFilter()"
          (ngModelChange)="_rawFilterInput.set($event)" />
        <button hlmBtn brnDialogTrigger [brnDialogTriggerFor]="newDialog"
          class="justify-center rounded-sm text-white hover:text-gray-400">
          New
        </button>
      </div>

      <brn-table hlm stickyHeader class="w-full border-border mt-10 block h-8/12 overflow-auto"
        [dataSource]="_sharedCategoriesFiltered()" [displayedColumns]="_allDisplayedColumns()" [trackBy]="_trackBy">
        <brn-column-def name="icon" class="w-3/12 justify-center text-center">
          <hlm-th *brnHeaderDef class="justify-center text-center">Icon</hlm-th>
          <hlm-td *brnCellDef="let element" class="justify-center text-center">
            <div class="w-full h-full flex justify-center text-center">
              <svg class="justify-center text-center" viewBox="0 0 90 112.5" width="40px" h="40px"
                xmlns="http://www.w3.org/2000/svg">
                <g
                  transform="matrix(1.0162279605865479, 0, 0, 1.0278929471969604, -1.2657499313354492, -0.5505840182304382)">
                  <g>
                    <circle cx="57" cy="48" r="2.001" />
                    <path
                      d="M73.026,40H72v-9.498C72,27.606,69.587,25,66.691,25H61v-0.009c0-2.896-2.231-5.252-5.127-5.252L18.238,25.25    C15.377,25.292,13,27.632,13,30.502v34.016C13,67.413,15.606,70,18.502,70h0.073h1.568h46.548C69.587,70,72,67.413,72,64.518V56    h1.026C75.921,56,78,53.708,78,50.812v-5.494C78,42.423,75.921,40,73.026,40z M55.941,21.489C57.703,21.526,59,23.22,59,24.991V25    H30.555L55.941,21.489z M70,64.748C70,66.544,68.544,68,66.748,68H18.252C16.456,68,15,66.544,15,64.748V30.252    C15,28.456,16.456,27,18.252,27h48.496C68.544,27,70,28.456,70,30.252V40H55.53C52.634,40,50,42.423,50,45.319v5.494    C50,53.708,52.634,56,55.53,56H70V64.748z M76,50.748C76,52.544,74.544,54,72.748,54H55.252C53.456,54,52,52.544,52,50.748v-5.496    C52,43.456,53.456,42,55.252,42h17.496C74.544,42,76,43.456,76,45.252V50.748z" />
                  </g>
                </g>
              </svg>
            </div>
          </hlm-td>
        </brn-column-def>

        <brn-column-def name="name" class="w-6/12 justify-start text-start">
          <hlm-th *brnHeaderDef truncate>
            <button hlmBtn class="p-0" size="sm" variant="ghost" (click)="handleNameSortChange()">
              Category Name
              <hlm-icon class="ml-2" size="sm" name="lucideArrowUpDown" />
            </button>
          </hlm-th>

          <hlm-td *brnCellDef="let element" class="flex items-center gap-2">
            <ng-container *ngIf="element.isEditing; else viewMode">
              <input hlmInput [(ngModel)]="element.name" class="flex-1 w-full" name="categoryName"
                (keyup.enter)="saveCategoryName(element)" />
              <button hlmBtn class="text-end ml-auto p-1 hover:text-gray-600" variant="ghost"
                (click)="saveCategoryName(element)">Save</button>
            </ng-container>

            <ng-template #viewMode>
              {{ element.name }}
              <button class="text-end ml-auto p-1 hover:text-gray-600" hlmBtn variant="ghost"
                (click)="toggleEditName(element)">Edit</button>
            </ng-template>
          </hlm-td>
        </brn-column-def>

        <brn-column-def name="isShared" class="w-2/12 justify-center">
          <hlm-th *brnHeaderDef>Is Shared</hlm-th>
          <hlm-td class="text-start font-medium tabular-nums" *brnCellDef="let element">
            {{ element.isShared }}
          </hlm-td>
        </brn-column-def>

        <brn-column-def name="actions" class="w-1/12 justify-center">
          <hlm-th *brnHeaderDef></hlm-th>
          <hlm-td *brnCellDef="let element">
            <button hlmBtn variant="ghost" class="h-6 w-6 p-0.5" align="end" [brnMenuTriggerFor]="menu">
              <hlm-icon class="h-4 w-4" name="lucideMoreHorizontal" />
            </button>

            <ng-template #menu>
              <hlm-menu>
                <hlm-menu-label>Actions</hlm-menu-label>
                <hlm-menu-separator />
                <hlm-menu-group>
                  <button hlmMenuItem brnDialogTrigger [brnDialogTriggerFor]="shareDialog" (click)="selectCategory(element)">
                    {{ element.isShared ? 'Unshare' : 'Share' }}
                  </button>
                </hlm-menu-group>
                <hlm-menu-separator />
                <hlm-menu-group>
                  <hlm-menu-group>
                    <button hlmMenuItem brnDialogTrigger [brnDialogTriggerFor]="deleteDialog"
                      (click)="selectCategory(element)">Delete</button>
                  </hlm-menu-group> </hlm-menu-group>
              </hlm-menu>
            </ng-template>
          </hlm-td>
        </brn-column-def>

        <div class="text-muted-foreground flex items-center justify-center p-20" brnNoDataRow>
          No data
        </div>
      </brn-table>
    </div>
  </section>
</div>

<div hlmTabsContent="personal_categories" class="w-full overflow-x-auto mt-10">
  <section hlmCard class="border-hidden">
    <div class="flex flex-col justify-between gap-4 sm:flex-row">
      <input hlmInput class="w-full md:w-80" placeholder="Filter categories..." [ngModel]="_allCategoriesFilter()"
        (ngModelChange)="_rawFilterInput.set($event)" />
      <button hlmBtn brnDialogTrigger [brnDialogTriggerFor]="newDialog"
        class="justify-center rounded-sm text-white hover:text-gray-400">
        New
      </button>
    </div>

    <brn-table hlm stickyHeader class="w-full border-border mt-10 block h-8/12 overflow-auto"
      [dataSource]="_personalCategoriesFiltered()" [displayedColumns]="_allDisplayedColumns()" [trackBy]="_trackBy">
      <brn-column-def name="icon" class="w-3/12 justify-center text-center">
        <hlm-th *brnHeaderDef class="justify-center text-center">Icon</hlm-th>
        <hlm-td *brnCellDef="let element" class="justify-center text-center">
          <div class="w-full h-full flex justify-center text-center">
            <svg class="justify-center text-center" viewBox="0 0 90 112.5" width="40px" h="40px"
              xmlns="http://www.w3.org/2000/svg">
              <g
                transform="matrix(1.0162279605865479, 0, 0, 1.0278929471969604, -1.2657499313354492, -0.5505840182304382)">
                <g>
                  <circle cx="57" cy="48" r="2.001" />
                  <path
                    d="M73.026,40H72v-9.498C72,27.606,69.587,25,66.691,25H61v-0.009c0-2.896-2.231-5.252-5.127-5.252L18.238,25.25    C15.377,25.292,13,27.632,13,30.502v34.016C13,67.413,15.606,70,18.502,70h0.073h1.568h46.548C69.587,70,72,67.413,72,64.518V56    h1.026C75.921,56,78,53.708,78,50.812v-5.494C78,42.423,75.921,40,73.026,40z M55.941,21.489C57.703,21.526,59,23.22,59,24.991V25    H30.555L55.941,21.489z M70,64.748C70,66.544,68.544,68,66.748,68H18.252C16.456,68,15,66.544,15,64.748V30.252    C15,28.456,16.456,27,18.252,27h48.496C68.544,27,70,28.456,70,30.252V40H55.53C52.634,40,50,42.423,50,45.319v5.494    C50,53.708,52.634,56,55.53,56H70V64.748z M76,50.748C76,52.544,74.544,54,72.748,54H55.252C53.456,54,52,52.544,52,50.748v-5.496    C52,43.456,53.456,42,55.252,42h17.496C74.544,42,76,43.456,76,45.252V50.748z" />
                </g>
              </g>
            </svg>
          </div>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="name" class="w-6/12 justify-start text-start">
        <hlm-th *brnHeaderDef truncate>
          <button hlmBtn class="p-0" size="sm" variant="ghost" (click)="handleNameSortChange()">
            Category Name
            <hlm-icon class="ml-2" size="sm" name="lucideArrowUpDown" />
          </button>
        </hlm-th>

        <hlm-td *brnCellDef="let element" class="flex items-center gap-2">
          <ng-container *ngIf="element.isEditing; else viewMode">
            <input hlmInput [(ngModel)]="element.name" class="flex-1 w-full" name="categoryName"
              (keyup.enter)="saveCategoryName(element)" />
            <button hlmBtn class="text-end ml-auto p-1 hover:text-gray-600" variant="ghost"
              (click)="saveCategoryName(element)">Save</button>
          </ng-container>

          <ng-template #viewMode>
            {{ element.name }}
            <button class="text-end ml-auto p-1 hover:text-gray-600" hlmBtn variant="ghost"
              (click)="toggleEditName(element)">Edit</button>
          </ng-template>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="isShared" class="w-2/12 justify-center">
        <hlm-th *brnHeaderDef>Is Shared</hlm-th>
        <hlm-td class="text-start font-medium tabular-nums" *brnCellDef="let element">
          {{ element.isShared }}
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="actions" class="w-1/12 justify-center">
        <hlm-th *brnHeaderDef></hlm-th>
        <hlm-td *brnCellDef="let element">
          <button hlmBtn variant="ghost" class="h-6 w-6 p-0.5" align="end" [brnMenuTriggerFor]="menu">
            <hlm-icon class="h-4 w-4" name="lucideMoreHorizontal" />
          </button>

          <ng-template #menu>
            <hlm-menu>
              <hlm-menu-label>Actions</hlm-menu-label>
              <hlm-menu-separator />
              <hlm-menu-group>
                <button hlmMenuItem brnDialogTrigger [brnDialogTriggerFor]="shareDialog" (click)="selectCategory(element)">
                  {{ element.isShared ? 'Unshare' : 'Share' }}
                </button>
              </hlm-menu-group>
              <hlm-menu-separator />
              <hlm-menu-group>
                <hlm-menu-group>
                  <button hlmMenuItem brnDialogTrigger [brnDialogTriggerFor]="deleteDialog"
                    (click)="selectCategory(element)">Delete</button>
                </hlm-menu-group> </hlm-menu-group>
            </hlm-menu>
          </ng-template>
        </hlm-td>
      </brn-column-def>

      <div class="text-muted-foreground flex items-center justify-center p-20" brnNoDataRow>
        No data
      </div>
    </brn-table>
  </section>
</div>

<hlm-dialog #newDialog>
  <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>New Category</h3>
      <p hlmDialogDescription>Add the details for the new category.</p>
    </hlm-dialog-header>

    <div class="py-4 grid gap-4">
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="name" class="text-right">Category Name</label>
        <input hlmInput id="name" [(ngModel)]="newCategory.name" class="col-span-3" />
      </div>

      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="icon" class="text-right">Category Icon</label>
        <input hlmInput id="icon" [(ngModel)]="newCategory.icon" class="col-span-3" />
      </div>

      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel class="text-right">Shared</label>
        <input type="checkbox" [(ngModel)]="newCategory.isShared" class="checkbox col-span-3" checked="false" />
      </div>
      <!-- <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="currency" class="text-right">Currency</label>
        <brn-select id="currency" [(ngModel)]="newCategory.currency" class="col-span-3">
          <hlm-select-trigger class="w-full">
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content>
            <hlm-option *ngFor="let currency of currencies" [value]="currency">
              {{ currency }}
            </hlm-option>
          </hlm-select-content>
        </brn-select>
      </div> -->
    </div>

    <hlm-dialog-footer>
      <button hlmBtn variant="ghost" (click)="ctx.close()">Cancel</button>
      <button hlmBtn class="text-white hover:text-gray-400" (click)="addCategory(); ctx.close()">
        Save
      </button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>

<hlm-dialog #shareDialog>
  <hlm-dialog-content *brnAlertDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmAlertDialogTitle *ngIf="!selectedCategory.isShared">Share category with your partner</h3>
      <h3 hlmAlertDialogTitle *ngIf="selectedCategory.isShared">Make category personal</h3>
      <p hlmAlertDialogDescription *ngIf="!selectedCategory.isShared">
        All the transactions under this category will be shared with your partner.
      </p>
      <p hlmAlertDialogDescription *ngIf="selectedCategory.isShared">
        All the transactions under this category will no longer be shared with your partner.
      </p>
    </hlm-dialog-header>
    <hlm-dialog-footer>
      <button hlmBtn variant="ghost" (click)="ctx.close()">Cancel</button>
      <button *ngIf="!selectedCategory.isShared" hlmBtn class="text-white hover:text-gray-400"
        (click)="updateShareCategory(); ctx.close()">Share Category</button>
      <button *ngIf="selectedCategory.isShared" hlmBtn class="text-white hover:text-gray-400"
        (click)="updateShareCategory(); ctx.close()">Unshare Category</button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>

<hlm-dialog #deleteDialog>
  <hlm-dialog-content *brnAlertDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmAlertDialogTitle>Are you absolutely sure?</h3>
      <p hlmAlertDialogDescription>
        This action cannot be undone. This will permanently delete your category.
      </p>
    </hlm-dialog-header>
    <hlm-dialog-footer>
      <button hlmBtn variant="ghost" (click)="ctx.close()">Cancel</button>
      <button hlmBtn variant="destructive" (click)="deleteCategory(); ctx.close()">Delete Category</button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>