<div hlmTabsContent="all_categories" class="w-full overflow-x-auto mt-9">
  <section hlmCard class="border-hidden m-1">
    <div class="flex flex-col justify-between gap-4 sm:flex-row">
      <input
        hlmInput
        class="w-full md:w-80"
        placeholder="Filter categories.."
        [ngModel]="_allCategoriesFilter()"
        (ngModelChange)="_rawFilterInput.set($event)"
      />
      <button
        hlmBtn
        brnDialogTrigger
        [brnDialogTriggerFor]="newDialog"
        class="justify-center rounded-sm text-white hover:text-gray-400"
      >
        New
      </button>
    </div>

    <brn-table
      hlm
      class="w-full border-border mt-10 block h-8/12 overflow-auto"
      [dataSource]="_filteredSortedPaginatedCategories()"
      [displayedColumns]="_allDisplayedColumns()"
      [trackBy]="_trackBy"
    >
      <brn-column-def name="icon" class="w-2/12 justify-center text-center">
        <hlm-th *brnHeaderDef truncate class="text-center">Icon</hlm-th>
        <hlm-td
          *brnCellDef="let element"
          truncate
          [brnMenuTriggerFor]="menu"
          (click)="selectCategory(element)"
          class="justify-center text-center"
        >
          <div class="w-full h-full flex justify-center text-center">
            <hlm-icon class="ml-2" size="lg" [name]="element.icon" />
          </div>

          <ng-template #menu>
            <hlm-menu class="w-56">
              <hlm-menu-label>Icon</hlm-menu-label>
              <hlm-menu-group>
                @for (icon of availableIcons; track icon) {
                <button
                  hlmMenuItemRadio
                  [checked]="icon === element.icon"
                  (triggered)="updateCategoryIcon(element, icon)"
                >
                  <hlm-menu-item-radio />
                  <span>
                    <hlm-icon class="mr-2" [name]="icon" />
                  </span>
                </button>
                }
              </hlm-menu-group>
            </hlm-menu>
          </ng-template>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="name" class="w-7/12 justify-start text-start">
        <hlm-th *brnHeaderDef truncate>
          <button
            hlmBtn
            class="p-0"
            size="sm"
            variant="ghost"
            (click)="handleNameSortChange()"
          >
            Category Name
            <hlm-icon class="ml-2" size="sm" name="lucideArrowUpDown" />
          </button>
        </hlm-th>

        <hlm-td *brnCellDef="let element" class="flex items-center gap-2">
          <ng-container *ngIf="element.isEditing; else viewMode">
            <input
              hlmInput
              [(ngModel)]="element.name"
              required
              class="flex-1 w-full"
              name="categoryName"
              (keyup.enter)="saveCategoryName(element)"
            />
            <button
              hlmBtn
              class="text-end ml-auto p-1 hover:text-gray-600"
              variant="ghost"
              [disabled]="!element.name"
              (click)="saveCategoryName(element)"
            >
              Save
            </button>
          </ng-container>

          <ng-template #viewMode>
            {{ element.name }}
            <button
              class="text-end ml-auto p-1 hover:text-gray-600"
              hlmBtn
              variant="ghost"
              (click)="toggleEditName(element)"
            >
              Edit
            </button>
          </ng-template>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="isShared" class="w-2/12 justify-center">
        <hlm-th *brnHeaderDef>Shared</hlm-th>
        <hlm-td
          class="text-start font-medium tabular-nums"
          *brnCellDef="let element"
        >
          <div class="w-full h-full flex justify-center text-center">
            <hlm-icon
              class="ml-2"
              size="lg"
              [name]="element.isShared ? 'lucideUsers' : 'lucideUser'"
            />
          </div>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="actions" class="w-1/12 justify-center">
        <hlm-th *brnHeaderDef></hlm-th>
        <hlm-td *brnCellDef="let element">
          <button
            hlmBtn
            variant="ghost"
            class="h-6 w-6 p-0.5"
            align="end"
            [brnMenuTriggerFor]="menu"
          >
            <hlm-icon class="h-4 w-4" name="lucideMoreHorizontal" />
          </button>

          <ng-template #menu>
            <hlm-menu>
              <hlm-menu-label>Actions</hlm-menu-label>
              <hlm-menu-separator />
              <hlm-menu-group *ngIf="partnershipStatus">
                <button
                  hlmMenuItem
                  brnDialogTrigger
                  [brnDialogTriggerFor]="shareDialog"
                  (click)="selectCategory(element)"
                >
                  {{ element.isShared ? "Unshare" : "Share" }}
                </button>
              </hlm-menu-group>
              <hlm-menu-separator *ngIf="partnershipStatus" />
              <hlm-menu-group>
                <hlm-menu-group>
                  <button
                    hlmMenuItem
                    brnDialogTrigger
                    [brnDialogTriggerFor]="deleteDialog"
                    (click)="selectCategory(element)"
                  >
                    Delete
                  </button>
                </hlm-menu-group>
              </hlm-menu-group>
            </hlm-menu>
          </ng-template>
        </hlm-td>
      </brn-column-def>

      <div
        class="text-muted-foreground flex items-center justify-center p-20"
        brnNoDataRow
      >
        No data
      </div>
    </brn-table>
  </section>
</div>

<div hlmTabsContent="personal_categories" class="w-full overflow-x-auto mt-9">
  <section hlmCard class="border-hidden m-1">
    <div class="flex flex-col justify-between gap-4 sm:flex-row">
      <input
        hlmInput
        class="w-full md:w-80"
        placeholder="Filter categories..."
        [ngModel]="_allCategoriesFilter()"
        (ngModelChange)="_rawFilterInput.set($event)"
      />
      <button
        hlmBtn
        brnDialogTrigger
        [brnDialogTriggerFor]="newDialog"
        class="justify-center rounded-sm text-white hover:text-gray-400"
      >
        New
      </button>
    </div>

    <brn-table
      hlm
      class="w-full border-border mt-10 block h-8/12 overflow-auto"
      [dataSource]="_personalCategoriesFiltered()"
      [displayedColumns]="_allDisplayedColumns()"
      [trackBy]="_trackBy"
    >
      <brn-column-def name="icon" class="w-2/12 justify-center text-center">
        <hlm-th *brnHeaderDef truncate class="text-center">Icon</hlm-th>
        <hlm-td
          *brnCellDef="let element"
          truncate
          [brnMenuTriggerFor]="menu"
          (click)="selectCategory(element)"
          class="justify-center text-center"
        >
          <div class="w-full h-full flex justify-center text-center">
            <hlm-icon class="ml-2" size="lg" [name]="element.icon" />
          </div>

          <ng-template #menu>
            <hlm-menu class="w-56">
              <hlm-menu-label>Icon</hlm-menu-label>
              <hlm-menu-group>
                @for (icon of availableIcons; track icon) {
                <button
                  hlmMenuItemRadio
                  [checked]="icon === element.icon"
                  (triggered)="updateCategoryIcon(element, icon)"
                >
                  <hlm-menu-item-radio />
                  <span>
                    <hlm-icon class="mr-2" [name]="icon" />
                  </span>
                </button>
                }
              </hlm-menu-group>
            </hlm-menu>
          </ng-template>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="name" class="w-7/12 justify-start text-start">
        <hlm-th *brnHeaderDef truncate>
          <button
            hlmBtn
            class="p-0"
            size="sm"
            variant="ghost"
            (click)="handleNameSortChange()"
          >
            Category Name
            <hlm-icon class="ml-2" size="sm" name="lucideArrowUpDown" />
          </button>
        </hlm-th>

        <hlm-td *brnCellDef="let element" class="flex items-center gap-2">
          <ng-container *ngIf="element.isEditing; else viewMode">
            <input
              hlmInput
              [(ngModel)]="element.name"
              class="flex-1 w-full"
              name="categoryName"
              required
              (keyup.enter)="saveCategoryName(element)"
            />
            <button
              hlmBtn
              class="text-end ml-auto p-1 hover:text-gray-600"
              variant="ghost"
              [disabled]="!element.name"
              (click)="saveCategoryName(element)"
            >
              Save
            </button>
          </ng-container>

          <ng-template #viewMode>
            {{ element.name }}
            <button
              class="text-end ml-auto p-1 hover:text-gray-600"
              hlmBtn
              variant="ghost"
              (click)="toggleEditName(element)"
            >
              Edit
            </button>
          </ng-template>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="isShared" class="w-2/12 justify-center">
        <hlm-th *brnHeaderDef>Shared</hlm-th>
        <hlm-td
          class="text-start font-medium tabular-nums"
          *brnCellDef="let element"
        >
          <div class="w-full h-full flex justify-center text-center">
            <hlm-icon class="ml-2" size="lg" name="lucideUser" />
          </div>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="actions" class="w-1/12 justify-center">
        <hlm-th *brnHeaderDef></hlm-th>
        <hlm-td *brnCellDef="let element">
          <button
            hlmBtn
            variant="ghost"
            class="h-6 w-6 p-0.5"
            align="end"
            [brnMenuTriggerFor]="menu"
          >
            <hlm-icon class="h-4 w-4" name="lucideMoreHorizontal" />
          </button>

          <ng-template #menu>
            <hlm-menu>
              <hlm-menu-label>Actions</hlm-menu-label>
              <hlm-menu-separator />
              <hlm-menu-group *ngIf="partnershipStatus">
                <button
                  hlmMenuItem
                  brnDialogTrigger
                  [brnDialogTriggerFor]="shareDialog"
                  (click)="selectCategory(element)"
                >
                  {{ element.isShared ? "Unshare" : "Share" }}
                </button>
              </hlm-menu-group>
              <hlm-menu-separator *ngIf="partnershipStatus" />
              <hlm-menu-group>
                <hlm-menu-group>
                  <button
                    hlmMenuItem
                    brnDialogTrigger
                    [brnDialogTriggerFor]="deleteDialog"
                    (click)="selectCategory(element)"
                  >
                    Delete
                  </button>
                </hlm-menu-group>
              </hlm-menu-group>
            </hlm-menu>
          </ng-template>
        </hlm-td>
      </brn-column-def>

      <div
        class="text-muted-foreground flex items-center justify-center p-20"
        brnNoDataRow
      >
        No data
      </div>
    </brn-table>
  </section>
</div>

<div hlmTabsContent="shared_categories" class="w-full overflow-x-auto mt-9">
  <section hlmCard class="border-hidden m-1">
    <div
      *ngIf="!_hasSharedCategories()"
      class="flex justify-center items-center h-96"
    >
      <button
        hlmBtn
        brnDialogTrigger
        [brnDialogTriggerFor]="partnershipDialog"
        class="text-white rounded-lg px-4 py-2"
      >
        Initiate Partnership
      </button>
    </div>

    <hlm-dialog #partnershipDialog>
      <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 hlmDialogTitle>Initiate Partnership</h3>
          <p hlmDialogDescription>
            Enter the partner's email and select categories to share.
          </p>
        </hlm-dialog-header>

        <div class="pt-4 pb-2">
          <label hlmLabel for="partnerEmail">Partner's Email</label>
          <input
            hlmInput
            id="partnerEmail"
            [(ngModel)]="partnerEmail"
            placeholder="Enter email"
            email
            required
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <span *ngIf="partnershipError" class="label-text text-error">{{
          partnershipError
        }}</span>

        <div class="pt-2 pb-4">
          <label hlmLabel>Select Categories to Share</label>
          <div class="grid grid-cols-1 gap-2">
            <ng-container *ngFor="let category of _Categories()">
              <label>
                <input
                  type="checkbox"
                  class="checkbox"
                  [(ngModel)]="category.isSelected"
                />
                {{ category.name }}
              </label>
            </ng-container>
          </div>
        </div>

        <hlm-dialog-footer>
          <button hlmBtn variant="ghost" (click)="ctx.close()">Cancel</button>
          <button
            hlmBtn
            (click)="createPartnership(ctx)"
            class="text-white hover:text-gray-400"
            [disabled]="!partnerEmail || !emailIsValid()"
          >
            Create Partnership
          </button>
        </hlm-dialog-footer>
      </hlm-dialog-content>
    </hlm-dialog>

    <div *ngIf="_hasSharedCategories()">
      <div class="flex flex-col justify-between gap-4 sm:flex-row">
        <input
          hlmInput
          class="w-full md:w-80"
          placeholder="Filter categories..."
          [ngModel]="_allCategoriesFilter()"
          (ngModelChange)="_rawFilterInput.set($event)"
        />
        <button
          hlmBtn
          brnDialogTrigger
          [brnDialogTriggerFor]="newDialog"
          class="justify-center rounded-sm text-white hover:text-gray-400"
        >
          New
        </button>
      </div>

      <brn-table
        hlm
        class="w-full border-border mt-10 block h-8/12 overflow-auto"
        [dataSource]="_sharedCategoriesFiltered()"
        [displayedColumns]="_allDisplayedColumns()"
        [trackBy]="_trackBy"
      >
        <brn-column-def name="icon" class="w-2/12 justify-center text-center">
          <hlm-th *brnHeaderDef truncate class="text-center">Icon</hlm-th>
          <hlm-td
            *brnCellDef="let element"
            truncate
            [brnMenuTriggerFor]="menu"
            (click)="selectCategory(element)"
            class="justify-center text-center"
          >
            <div class="w-full h-full flex justify-center text-center">
              <hlm-icon class="ml-2" size="lg" [name]="element.icon" />
            </div>

            <ng-template #menu>
              <hlm-menu class="w-56">
                <hlm-menu-label>Icon</hlm-menu-label>
                <hlm-menu-group>
                  @for (icon of availableIcons; track icon) {
                  <button
                    hlmMenuItemRadio
                    [checked]="icon === element.icon"
                    (triggered)="updateCategoryIcon(element, icon)"
                  >
                    <hlm-menu-item-radio />
                    <span>
                      <hlm-icon class="mr-2" [name]="icon" />
                    </span>
                  </button>
                  }
                </hlm-menu-group>
              </hlm-menu>
            </ng-template>
          </hlm-td>
        </brn-column-def>

        <brn-column-def name="name" class="w-7/12 justify-start text-start">
          <hlm-th *brnHeaderDef truncate>
            <button
              hlmBtn
              class="p-0"
              size="sm"
              variant="ghost"
              (click)="handleNameSortChange()"
            >
              Category Name
              <hlm-icon class="ml-2" size="sm" name="lucideArrowUpDown" />
            </button>
          </hlm-th>

          <hlm-td *brnCellDef="let element" class="flex items-center gap-2">
            <ng-container *ngIf="element.isEditing; else viewMode">
              <input
                hlmInput
                [(ngModel)]="element.name"
                class="flex-1 w-full"
                name="categoryName"
                required
                (keyup.enter)="saveCategoryName(element)"
              />
              <button
                hlmBtn
                class="text-end ml-auto p-1 hover:text-gray-600"
                variant="ghost"
                [disabled]="!element.name"
                (click)="saveCategoryName(element)"
              >
                Save
              </button>
            </ng-container>

            <ng-template #viewMode>
              {{ element.name }}
              <button
                class="text-end ml-auto p-1 hover:text-gray-600"
                hlmBtn
                variant="ghost"
                (click)="toggleEditName(element)"
              >
                Edit
              </button>
            </ng-template>
          </hlm-td>
        </brn-column-def>

        <brn-column-def name="isShared" class="w-2/12 justify-center">
          <hlm-th *brnHeaderDef>Is Shared</hlm-th>
          <hlm-td
            class="text-start font-medium tabular-nums"
            *brnCellDef="let element"
          >
            <div class="w-full h-full flex justify-center text-center">
              <hlm-icon class="ml-2" size="lg" name="lucideUsers" />
            </div>
          </hlm-td>
        </brn-column-def>

        <brn-column-def name="actions" class="w-1/12 justify-center">
          <hlm-th *brnHeaderDef></hlm-th>
          <hlm-td *brnCellDef="let element">
            <button
              hlmBtn
              variant="ghost"
              class="h-6 w-6 p-0.5"
              align="end"
              [brnMenuTriggerFor]="menu"
            >
              <hlm-icon class="h-4 w-4" name="lucideMoreHorizontal" />
            </button>

            <ng-template #menu>
              <hlm-menu>
                <hlm-menu-label>Actions</hlm-menu-label>
                <hlm-menu-separator />
                <hlm-menu-group *ngIf="partnershipStatus">
                  <button
                    hlmMenuItem
                    brnDialogTrigger
                    [brnDialogTriggerFor]="shareDialog"
                    (click)="selectCategory(element)"
                  >
                    {{ element.isShared ? "Unshare" : "Share" }}
                  </button>
                </hlm-menu-group>
                <hlm-menu-separator *ngIf="partnershipStatus" />
                <hlm-menu-group>
                  <hlm-menu-group>
                    <button
                      hlmMenuItem
                      brnDialogTrigger
                      [brnDialogTriggerFor]="deleteDialog"
                      (click)="selectCategory(element)"
                    >
                      Delete
                    </button>
                  </hlm-menu-group>
                </hlm-menu-group>
              </hlm-menu>
            </ng-template>
          </hlm-td>
        </brn-column-def>

        <div
          class="text-muted-foreground flex items-center justify-center p-20"
          brnNoDataRow
        >
          No data
        </div>
      </brn-table>
    </div>
  </section>
</div>

<hlm-dialog #newDialog>
  <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>New Category</h3>
      <p hlmDialogDescription>Add the details for the new category.</p>
    </hlm-dialog-header>

    <div class="py-4 grid gap-4">
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="name" class="text-right">Category Name</label>
        <input
          hlmInput
          id="name"
          [(ngModel)]="newCategory.name"
          class="col-span-3"
        />
      </div>

      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="type" class="text-right">Type</label>
        <brn-select id="type" [(ngModel)]="newCategory.type" class="col-span-3">
          <hlm-select-trigger class="w-full">
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content>
            <hlm-option value="expense">Expense</hlm-option>
            <hlm-option value="income">Income</hlm-option>
          </hlm-select-content>
        </brn-select>
      </div>

      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="icon" class="text-right">Icon</label>
        <brn-select
          id="icon"
          [(ngModel)]="newCategory.icon"
          class="col-span-1 justify-center text-center"
        >
          <hlm-select-trigger class="w-full">
            <hlm-icon [name]="newCategory.icon" class="ml-4 mr-4" size="base" />
          </hlm-select-trigger>
          <hlm-select-content>
            <hlm-option *ngFor="let icon of availableIcons" [value]="icon">
              <hlm-icon [name]="icon" class="ml-4 mr-4" size="base" />
            </hlm-option>
          </hlm-select-content>
        </brn-select>
      </div>

      <div
        class="items-center grid grid-cols-4 gap-4"
        *ngIf="partnershipStatus"
      >
        <label hlmLabel class="text-right">Shared</label>
        <input
          type="checkbox"
          [(ngModel)]="newCategory.isShared"
          class="checkbox col-span-3"
          checked="false"
        />
      </div>
    </div>

    <hlm-dialog-footer>
      <button hlmBtn variant="ghost" (click)="ctx.close()">Cancel</button>
      <button
        hlmBtn
        class="text-white hover:text-gray-400"
        (click)="addCategory(); ctx.close()"
      >
        Save
      </button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>

<hlm-dialog #shareDialog>
  <hlm-dialog-content *brnAlertDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmAlertDialogTitle *ngIf="!selectedCategory.isShared">
        Share category with your partner
      </h3>
      <h3 hlmAlertDialogTitle *ngIf="selectedCategory.isShared">
        Make category personal
      </h3>
      <p hlmAlertDialogDescription *ngIf="!selectedCategory.isShared">
        All the transactions under this category will be shared with your
        partner.
      </p>
      <p hlmAlertDialogDescription *ngIf="selectedCategory.isShared">
        All the transactions under this category will no longer be shared with
        your partner.
      </p>
    </hlm-dialog-header>
    <hlm-dialog-footer>
      <button hlmBtn variant="ghost" (click)="ctx.close()">Cancel</button>
      <button
        *ngIf="!selectedCategory.isShared"
        hlmBtn
        class="text-white hover:text-gray-400"
        (click)="updateShareCategory(); ctx.close()"
      >
        Share Category
      </button>
      <button
        *ngIf="selectedCategory.isShared"
        hlmBtn
        class="text-white hover:text-gray-400"
        (click)="updateShareCategory(); ctx.close()"
      >
        Unshare Category
      </button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>

<hlm-dialog #deleteDialog>
  <hlm-dialog-content *brnAlertDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmAlertDialogTitle>Are you absolutely sure?</h3>
      <p hlmAlertDialogDescription>
        This action cannot be undone. This will permanently delete your
        category.
      </p>
    </hlm-dialog-header>
    <hlm-dialog-footer>
      <button hlmBtn variant="ghost" (click)="ctx.close()">Cancel</button>
      <button
        hlmBtn
        variant="destructive"
        (click)="deleteCategory(); ctx.close()"
      >
        Delete Category
      </button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>
