<hlm-trow
  class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  <hlm-td class="px-6 py-4 text-center justify-center w-2/12">
    <!-- Possibly your category icon or checkbox here -->
    <input type="checkbox" class="">
  </hlm-td>
  <hlm-td class="px-6 py-4 text-center justify-center w-8/12">
    {{ category.name }}
  </hlm-td>
  <hlm-td class="px-6 py-4 text-center justify-center w-2/12">
    <button class="btn btn-primary btn-xs">Edit</button>
  </hlm-td>
</hlm-trow>